src/main/resources/wsdl/vtj-haku.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  targetNamespace="http://tempuri.org/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="TeeHenkilonTunnusKysely">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="SoSoNimi" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Kayttajatunnus" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Salasana" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Loppukayttaja" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Laskutustiedot" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Henkilotunnus" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="SahkoinenAsiointitunnus" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="VarmenteenMyontaja" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="X509Certificate" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="VarmenteenVoimassaolotarkistus" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="VarmenteenSulkulistatarkistus" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Tunnistusportaali" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Vara1" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="TeeHenkilonTunnusKyselyResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="TeeHenkilonTunnusKyselyResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="TeeHenkilonTunnusKyselySoapIn">
        <wsdl:part name="parameters" element="tns:TeeHenkilonTunnusKysely"/>
    </wsdl:message>
    <wsdl:message name="TeeHenkilonTunnusKyselySoapOut">
        <wsdl:part name="parameters" element="tns:TeeHenkilonTunnusKyselyResponse"/>
    </wsdl:message>
    <wsdl:portType name="SoSoSoap">
        <wsdl:operation name="TeeHenkilonTunnusKysely">
            <wsdl:input message="tns:TeeHenkilonTunnusKyselySoapIn"/>
            <wsdl:output message="tns:TeeHenkilonTunnusKyselySoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SoSoSoap" type="tns:SoSoSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="TeeHenkilonTunnusKysely">
            <soap:operation soapAction="http://tempuri.org/TeeHenkilonTunnusKysely" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SoSo">
        <wsdl:port name="SoSoSoap" binding="tns:SoSoSoap">
            <soap:address location="https://localhost/vtj"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
